<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>机票查询</title>
  <style>
    body {
      background-color: #f6f8fa;
      color: #333;
      font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
  </style>
</head>
<body>
  <h3>今天也不要着急哈，慢慢刷，总会买到机票的</h3>
  <main>
    
  </main>
</body>
<script src="/node_modules/axios/dist/axios.js"></script>
<script>
  console.log(axios);
  // axios.get('/query/2020-10-22').then(resp => {
  //   console.log(resp);
  // }).catch(err => console.log(err))
</script>
</html>